* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e3e3;
  font-family: "Lato", sans-serif;
  margin-top: 100px;
}

.container {
  width: 300px;
  background-color: #fff;
  margin-top: 100px;
  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
}

.container__title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.container__title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.container__notification {
  background-color: #c7b198;
  display: none;
}

.container__notification p {
  color: #f69e7b;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.container__weather {
  width: 300px;
  height: 260px;
  background-color: #c8d3d4;
}

.container__icon {
  width: 300px;
  height: 128px;
}

.container__icon img {
  display: block;
  margin: 0 auto;
}

.container__value {
  width: 300px;
  height: 60px;
}

.container__value p {
  padding: 0;
  margin: 0;
  color: #383e56;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.container__value p:hover {
}

.container__value span {
  color: #383e56;
  font-size: 0.5em;
}

.container__description {
}

.container__description p {
  padding: 8px;
  margin: 0;
  color: #383e56;
  text-align: center;
  font-size: 1.2em;
}

.container__location {
}

.container__location p {
  margin: 0;
  padding: 0;
  color: #383e56;
  text-align: center;
  font-size: 0.8em;
}
